.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brand-color-700);
  height: var(--header-height);
  padding: 1.25rem 1.56rem;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
}

.right {
  display: flex;
  gap: 20px;
}

.center {
  order: 0;
}

@media(max-width: 720px) {
  .Header {
    flex-wrap: wrap;
    gap: 10px;
    height: var(--header-height)
  }
  .center {
    order: 1;
    flex-grow: 1;
    width: 100dvw;
  }
}

