.Navbar {
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 var(--global-padding) ;
}

.navbarButton {
  flex: 1 0 auto;
  padding: 10px 20px;
  height: 100%;
}

.selectedButton {
  background-color: var(--bg-color-0);
}

.links {
    margin-left: auto;
}

.aboutLink {
    margin-right: 15px;
}
