.global_theme_dark {
    --bg-color-0: #1E1E1E;
    --bg-color-1: #535252;
    --brand-color-700: #8B4EFB;
    --accent-color: #A3A3A3;
    --red-color: #F04438; 
    --secondary-color: #1f07ff;
    --text-color: #ffffff;
}
